# **Part 1: Basic Python Practice**

**1.Working with Variables and Data Types:**

Task:

Create a variable named your_name and assign your name (as a string) to it.

Create a variable named your_age and assign your age (as an integer) to it.

Print the following sentence using f-strings, including your variables: "Hello, my name is [your name] and I am [your age] years old."

Check and print the data type of both your_name and your_age variables using the type() function.

In [ ]:
# Define a variable to store your name as a string
your_name = "Erdem Muslu"
# Define a variable to store your age as an integer
your_age = 22

# Print the formatted string using f-strings
# Print the output
print(f"Hello, my name is {your_name} and Iam {your_age} years old.")
# Print the formatted string using f-strings
# Print the output
print(f"Data type of your name is {type(your_name)} and data type of your age is {type(your_age)}")

Hello, my name is Erdem Muslu and Iam 22 years old.
Data type of your name is <class 'str'> and data type of your age is <class 'int'>

**2.Simple Conditional Statement:**

Task:

Write an if-else statement that checks if your_age (from the previous task) is greater than or equal to 18.

If it is, print "You are an adult."

Otherwise (else), print "You are not yet an adult."

In [ ]:
if your_age > 18:
    # Check if the age is greater than 18 and print a message
    print("You are an adult.")
else:
    # If the age is 18 or less, print a different message
    print("You are not an adult.")

You are an adult.

**3.Basic Loop:**

Task:

Use a for loop to print the numbers from 1 to 5. Each number should be printed on a new line.

In [ ]:
for i in range(6):
    # Loop from 0 to 5 and print each number
    print(i)

0
1
2
3
4
5

# **Part 2: NumPy Basics Practice**

**4.Creating a NumPy Array:**

Task:
Create a NumPy array named my_numpy_array from the following Python list: [5, 10, 15, 20, 25].

Print the my_numpy_array.

Print the data type of the elements in my_numpy_array using .dtype.

In [1]:
import numpy as np

# Creating a NumPy array from the given list
my_numpy_array = np.array([5, 10, 15, 20, 25])

# Printing the NumPy array
# Print the output
print("NumPy Array:", my_numpy_array)

# Printing the data type of the elements in the NumPy array
# Print the output
print("Data Type:", my_numpy_array.dtype)

NumPy Array: [ 5 10 15 20 25]
Data Type: int64

**5.Basic NumPy Operation:**

Task:

Using the my_numpy_array you created in the previous task, multiply each element in the array by 2.

Print the resulting NumPy array.

In [2]:
# Multiply each element of the array by 2
my_numpy_array = my_numpy_array * 2

# Print the output
print(my_numpy_array)

[10 20 30 40 50]

# **Part 3: Pandas Basics Practice**

**6.Creating a Pandas Series:**

Task:

Create a Pandas Series named my_pandas_series from the following list of fruits: ['apple', 'banana', 'orange', 'grape'].

Print the my_pandas_series.

In [ ]:
# Import the pandas library
import pandas as pd

# Create a Pandas Series with a list of fruit names
my_pandas_series = pd.Series(['apple', 'banana', 'orange', 'grape'])
# Print the output
print(my_pandas_series)

0     apple
1    banana
2    orange
3     grape
dtype: object

**7.Creating a Pandas DataFrame and Viewing Data:**

Task:

Create a Pandas DataFrame named my_dataframe from the following dictionary:



```
# data = {'Name': ['StudentA', 'StudentB', 'StudentC'],
        'Major': ['Engineering', 'Science', 'Arts']}
```



Print the my_dataframe.

Use .head() to print the first 2 rows of my_dataframe (even though it only has 3 rows, just practice using .head()).

In [ ]:
data = {'Name': ['StudentA', 'StudentB', 'StudentC'],
        'Major': ['Engineering', 'Science', 'Arts']}

# Create a DataFrame from the dictionary
my_dataframe = pd.DataFrame(data)
# Print the output
print("Full DataFrame:\n", my_dataframe)
# Print the output
print("First 2 rows of the DataFrame:\n", my_dataframe.head(2), "\n")

Full DataFrame:
        Name        Major
0  StudentA  Engineering
1  StudentB      Science
2  StudentC         Arts
First 2 rows of the DataFrame:
        Name        Major
0  StudentA  Engineering
1  StudentB      Science

# **Bonus Task (Optional, for students who finish quickly):**

Explore .describe() in Pandas:

Task:

Create a Pandas DataFrame with a column named 'Numbers' containing the following values: [10, 20, 30, 40, 50, 50, 50].

Use the .describe() function on the 'Numbers' column to get summary statistics.

Print the output of .describe().

In a comment in your code, briefly explain what each of the statistics (count, mean, std, min, 25%, 50%, 75%, max) tells you about the 'Numbers' column.v

In [ ]:

data = {'Numbers' : [10, 20, 30, 40, 50, 50, 50]}

# Create a DataFrame from the data
df = pd.DataFrame(data)

# Generate summary statistics for the DataFrame
summary_statistics = df.describe()

# Print the output
print(summary_statistics)

# Explanation of the statistics:
# count: The number of non-null values in the column (7 in this case).
# mean: The average of the values (35.71 here).
# std: The standard deviation, which measures the spread of the values (16.73 here).
# min: The smallest value in the column (10 here).
# 25%: The 25th percentile (also called the first quartile), meaning 25% of the values are below 20.
# 50%: The 50th percentile (median), meaning half of the values are below 40.
# 75%: The 75th percentile (third quartile), meaning 75% of the values are below 50.
# max: The largest value in the column (50 here).

         Numbers
count   7.000000
mean   35.714286
std    16.183472
min    10.000000
25%    25.000000
50%    40.000000
75%    50.000000
max    50.000000